/**
 * Description: oddurs.github.com | primary.css.
 * Version: 1.1.0
 * Last update: 2014/05/29
 * Author: Oddur Sigurdsson <oddurs@gmail.com>
 *
 * Summary:
 *
 *	0. GLOBAL ADJUSTMENTS
 *		- 0.1. FOUNDATIONAL VALUES
 *		- 0.2. SECTIONS AND COLUMNS
 *	1. TEXT & GENERAL FORMATTING
 *		- 1.1. PARAGRAPH TEXT
 *		- 1.2. HEADER TEXT
 *		- 1.2. LINKS
 *	2. TEXT & ELEMENTS
 *		- 2.1. IMAGES
 *		- 2.2. BUTTONS 
 *	3. HEADER & NAVIGATION
 *		- 3.1. HEADERS
 *		- 2.2. NAVIGATION 
 *	4. GALLERY
 *		- 3.1. GALLERY CONTAINERS
 *		- 2.2. GALLERY TEXT
 *	5. CONTACT
 *		- 5.1. CONTACT LIST
 *	6. FOOTER & SOCIAL
 *		- 6.1. FOOTER
 *		- 6.2. SOCIAL LINKS
 */


/* ==========================================================================
   0. GLOBAL ADJUSTMENTS
   ========================================================================== */


/* 0.1 FOUNDATIONAL VALUES
   ========================================================================== */

body {
	background-color: #eee; 
	font-family: 'Open Sans', sans-serif;
	color: #999;
}


/* 0.2 SECTIONS AND COLUMNS
   ========================================================================== */

section {
	margin: 0 0 45px 0;
}

.box {
	clear: both;
	padding: 0 2.5%;
	margin: 0 0 2.5% 0;
}

#wrapper {
	max-width: 760px;
	margin: 0 auto;
	padding: 0 5%;
}

#logo {
	text-align: center;
	margin: 15px 0;
}

#intouch {
	clear: both;
	padding: 25px 0;
}

#about {
	display: inline;
}

#intro {
	padding: 1px 0;
}

#gallery {
	padding: 25px 0;
}


/* ==========================================================================
   1. TEXT & GENERAL FORMATING
   ========================================================================== */


/* 1.1. PARAGRAPH TEXT
   ========================================================================== */

p {
	font-size: 0.95em;
	line-height: 1.8em;
	font-weight: normal;
	letter-spacing: 0.02em;
}

.emphasis {
	font-family: 'Open Sans', sans-serif;
	font-style: italic;
	font-size: 1em;
	font-weight: normal;
	border-left: 2px solid; 
	border-color: #ccc;
	padding: 3% 0% 3% 4%;
	letter-spacing: 0.1em;
}

.emphasis span.author {
	font-family: 'Montserrat', sans-serif;
	color: #ccc;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-weight: normal;
	font-style: normal;
	padding-left: 2%; 
	font-size: 0.67em;
}

.emphasis span.author:hover {
	color: #BD6060;
}


/* 1.2. HEADER TEXT
   ========================================================================== */

h1, h2, h3, h4, h5, h6 {
	color: #777;
	font-family: 'Montserrat', sans-serif;
	letter-spacing: 2px;
	padding-bottom: 0; 
	text-transform: uppercase;
	text-shadow: 0px 2px 1px rgba(255, 255, 255, 1);
}

h1 {
	font-size: 1.37em;
	margin: 15px 0;
	font-weight: bold;
	line-height: 0.8em;
}

h2 {
	font-size: 0.75em;
	margin: -3px 0 0;
	font-weight: normal;
}


/* 1.3. LINKS
   ========================================================================== */

a {
	text-decoration: none;
	color: #BD6060;
}

p a:hover {
	border-bottom: 1px solid;
	border-color: #BD6060;
	padding-bottom: 2px; 
}


/* ==========================================================================
   2. ELEMENTS
   ========================================================================== */


/* 2.1. IMAGES
   ========================================================================== */

img {
	max-width: 100%;
}

.profile-photo {
	display: block;
	max-width: 150px;
	margin: 0 auto 30px;
	border-radius: 15px;
	box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.1);
}

.profile-photo:hover {
	box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.1);
}


/* 2.2. BUTTONS
   ========================================================================== */

.button {
	font-family: 'Montserrat', sans-serif;
	font-weight: normal;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: 0.75em;
	padding: 13px;
	margin-top: 15px;
	background-color: #BD6060;
	color: #fff;
	border-radius: 3px;
	display: inline-block;
	text-shadow: 0px 2px 3px rgba(0, 0, 0, 0.2);
	box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.1);
	border: 0px;
}

.button:hover {
	background-color: #CE6262;
	box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.1);
}


/* ==========================================================================
   3. HEADER & NAVIGATION
   ========================================================================== */


/* 3.1 HEADER
   ========================================================================== */

header {
	background: #3E697E;
	margin: 0 0 50px 0;
	padding: 30px 0 0 0;
	width: 100%;
	clear: both;
	}

header h1, h2 {
	color: #eee;
	/*text-shadow: 0px 3px 3px rgba(0, 0, 0, 0.2);*/
	text-shadow: none;
	letter-spacing: 0.2em;
}

header h2 {
	padding-bottom: 15px;
}


/* 3.2 NAVIGATION
   ========================================================================== */


nav {
	text-align: center;
	padding: 14px 10px 18px 10px;
	margin: 20px 0 25px 0;
	font-family: 'Open Sans', sans-serif;
	font-weight: normal;
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
	background: rgba(255, 255, 255, 0.29);
}

nav ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

nav li {
	display: inline-block;
	font-size: 0.75em;
	letter-spacing: 1px;
}

nav a, nav a:visited {
	color: #eee;
	margin: 10px 10px;
}

nav a.selected, nav a:hover {
	color: #eee;
	border-bottom: 1px solid;
	padding-bottom: 4px;
}


/* ==========================================================================
   4. GALLERY
   ========================================================================== */


/* 4.1. GALLERY CONTAINERS
   ========================================================================== */


#gallery {
	margin: 25px -2.5%;
	padding: 0;
	list-style: none;
}

#gallery li {
	float: left;
	width: 45%;
	margin: 2.5%;
	background-color: #f5f5f5;
	color: #bdc3c7;
	box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.1);
	min-height: 377.672px;
}

#gallery li:hover {
	box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.1);
}


/* 4.2 GALLERY TEXT
   ========================================================================== */


#gallery li a p {
	margin: 0;
	padding: 3% 8% 8% 8%;
	font-size: 0.84em;
	line-height: 1.5em;
	color: #999;
}

#gallery .portfolio-title {
	text-shadow: none;
	color: #777;
	margin: 0;
	padding: 5% 8% 2% 8%;
	line-height: 1.8em;
	font-weight: bold;
}

#gallery .portfolio-title:hover {
	color: #BD6060;
}


/* ==========================================================================
   5. CONTACT PAGE
   ========================================================================== */


/* 5.1. CONTACT LIST
   ========================================================================== */


.contact-info {
	list-style: none;
	padding: 0;
	margin: 0;
}

.contact-info a {
	display: block;
	min-height: 20px;
	background-repeat: no-repeat;
	background-size: 20px;
	padding: 0 0 0 30px;
	margin-bottom: 10px;
	font-size: 0.95em;
}

.contact-info li.phone a {
	background-image: url('../img/phone.png');
}

.contact-info li.mail a {
	background-image: url('../img/mail.png');
}

.contact-info li.twitter a {
	background-image: url('../img/twitter.png');
}


/* ==========================================================================
   6. FOOTER & SOCIAL MEDIA
   ========================================================================== */


/* 6.1. FOOTER
   ========================================================================== */

footer {
	font-size: 0.75em;
	text-align: center;
	clear: both;
	padding-top: 50px;
	color: #ccc;
}


/* 6.2. SOCIAL MEDIA
   ========================================================================== */

.social-icon {
	width: 20px;
	height: 20px;
	margin: 0 5px;
}




/*
                                                          __
     ,                                                  ," e`--o
    ((                                                 (  ; __,'
     \\~----------------------------------------------' \_)/
     (                                                    /
     /) ,_____________________________________________,  )
    (( (                                             (( (
     ``-'                                             ``-'
*/
